body {
    margin: auto;
    background-color: rgb(47, 182, 182);
    background: url(https://i.pinimg.com/236x/7b/43/07/7b4307db58c39549c31fb9f937b4f920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(63, 56, 56);
    padding-right: 50px;

}

li:hover {
    background-color: rgb(140, 210, 210);
    border-radius: 10px;
    transition: 500ms;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.Cod {
    float: left;
    color: white;
    padding-top: 10px;
    font-size: 25px;
    padding-left: 100px;

}

.banner {
    align-items: center;
    text-align: center;

}

.banner h1 {
    color: white;
    align-items: center;
    font-size: 35px;
    padding-top: 100px;

}

.banner button {
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid white;
}

.birinchi {
    color: white;
    background: url();
    margin: 10px;
}

.birinchi:hover {
    background-color: white;
    color: black;
    font-size: 15px;
    transition: 500ms;
}

.ikkinchi:hover {
    background: url();
    font-size: 15px;
    transition: 500ms;
    color: white;
}

.grid-container button {
    margin: 15px;
}


.grid-container {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 15px;
}

.grid-container img {
    padding-top: 15px;
    height: 200px;
    
}

.grid-container img:hover {
    height: 230px;
    transition: 500ms;
}
.grid-container p:hover{
    font-size: 20px;
    transition: 500ms;
}
.grid-container h2:hover{
    font-size: 28px;
    transition: 500ms;
}
.grid-container button:hover{
    font-size: 15px;
    transition: 500ms;
    background-color: blue;
    color: white;
    border-color: blue;
}
/* @media (max-with:730px){
   .banner .header .ul li{
   
   }
} */

.banner img{
    
}